table, th, td {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.phone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h2,h1,article{
    text-align: center;
}
.card {
    padding-top: 100px;
    max-width: 300px;
    margin: auto;
    text-align: center;
  }